{% extends "base.html" %}



{% block title %}Упражнения для слова '{{ word.word }}'{% endblock %}


{% block style %}
    <style type="text/css">
        #meaning {
            text-decoration: underline;
        }
    </style>
{% endblock %}


{% block javascript %}
    <script type="text/javascript">
        function check_answer(right_answer, id) {
            var line = document.getElementById('line_' + id);
            var answer = document.getElementById('select_' + id).value;
            
            if (answer == right_answer) {
                line.style.background="green";
            }
            else {
                line.style.background="red";
            }
        }
    </script>
{% endblock %}


{% block content %}
    <p id="meaning">Упражнения для слова '{{ word.word }}':</p>
    
    {% for id, right_answer, left_part, answers, right_part in tasks %}
        <div id="line_{{ id }}" class="line">
            {{ left_part|safe }}
            <select id="select_{{ id }}">
                <option selected="selected"> </option>
                {% for answer in answers %}
                    <option value="{{ answer }}" onclick="check_answer('{{ right_answer }}', {{ id }});">{{ answer }}</option>
                {% endfor %}
            </select>
            {{ right_part|safe }}
        </div>
    {% endfor %}
{% endblock %}