{% extends "base.html" %}



{% block title %}База данных глаголов падения{% endblock %}


{% block content %}
Это веб-приложение позволяет работать с базой данных глаголов падения русского языка. <br>
В базе данных представлена классификация глаголов падения, приведены словарные определения из <a href="http://feb-web.ru/feb/mas/mas-abc/default.asp">Малого академического словаря, </a>а также
упражнения на каждый глагол, которые могут быть использованы студентами, изучающими РКИ. <br><br><br>
Для добавления слов, классов, заданий, примеров и значений используется страница администратора (к адресу главной страницы нужно добавить
"/admin"). <br><br>

<u> Авторы: </u> <br>
Зеленкова Валерия <i> - база данных, классификация глаголов падения, примеры </i><br>
Малиновская Светлана <i> - база данных </i><br>
Ладинская Нина<i> - классификация глаголов падения, упражнения для РКИ</i><br>
Фомина Дарья <i> - классификация глаголов падения</i><br>
Савченко Александра<i> - классификация глаголов падения, упражнения для РКИ</i><br>
Зубова Дарья<i> - классификация глаголов падения, упражнения для РКИ</i><br>
<br>
- студенты <a href="https://www.hse.ru/">НИУ "Высшая школа экономики"</a>
<br>
<br>
Для корректного отображения веб-приложения используйте браузер <a href="https://www.mozilla.org/ru/firefox/new/"> Firefox.</a>
<br>
<br>
<br>
Контакты: <a href="mailto:lerie483@gmail.com">Зеленкова Валерия</a>
{% endblock %}